<%- include('../partials/header') %>

<section id="Flight-Details">
    <div>airline</div>
    <div><%=flight.airline%></div>
    <div>airport</div>
    <div><%=flight.airport%></div>
    <div>flight number</div>
    <div><%=flight.flightNumber%></div>
    <div>departs</div>
    <div><%=flight.departs%></div>
</section>


<%- include('../partials/footer') %>