<%- include('../partials/header') %>

<section id="show">
    <div>Airline: <%=flight.airline%></div>
    <div>Airport: <%=flight.airport%></div>
    <div>Flight Number: <%=flight.flightNumber%></div>
    <div>Departs: <%=flight.departs%></div>
</section>


<h3><a class="'button" href ='/flights/<%=flight._id%>/tickets/new'>Add Ticket</a></h3>
<section>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price%></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</section>
<div>
</div>

<br><br><h2>Destinations</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Destination:</label>
  <label>Aiport:</label>
    <select name="airport">
        <option value="AUS">AUS</option>
        <option value="LAX">LAX</option>
        <option value="DFW">DFW</option>
        <option value="ATL">ATL</option>
        <option value="DEN">DEN</option>
        <option value="SAN">SAN</option>
    </select>
    <label for = "destination-time">Choose Destination Date and Time:</label>
    <input type="datetime-local" id="destination" name="destinations">
  <input type="submit" value="Add Destination">
</form>
<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival Date and Time</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival%></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5></h5>
  <% } %>







<%- include('../partials/footer') %>